body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#e1c6c6, #c9cce7);
  width: 100%;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

h1 {
  font-size: 3.5rem;
}

.image {
  height: 10rem;
  width: 10rem;
}

.image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.5rem;
}

#day {
  color: rgb(246, 14, 238);
}
